.task__item {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.task__item h4 {
  line-break: anywhere;
  width: 400px;
}

input[type="text"] {
  width: 400px;
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 5px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

input:focus {
  outline: none;
  border-color: #0b87ff;
}

.cta__buttons {
  display: flex;
  gap: 5px;
}

.cta__buttons svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-decoration: line-through;
}
