.TodoWrapper {
    background: #1A1A40;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    width: 600px;
}

@media only screen and (max-width: 430px) {
    .TodoWrapper {
        width: 400px;
    }
}